rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regras abertas para testes e aplicação da prova:
    // Permite que alunos carreguem as questões e enviem respostas/violações,
    // e que o painel do professor visualize estatísticas e gerencie questões.
    match /{document=**} {
      allow read, write: if true;
    }
    
  }
}
